//
   Created by dtysky on 16/3/2.

block metadata
    title #{type} - #{site_title}
    if type == "tags"
        meta(name="keywords", content="Authors")
        meta(name="description", content="所有的少女")
    else
        meta(name="keywords", content="Tags")
        meta(name="description", content="所有的路标")
    meta(name="author", content="dtysky,命月天宇")
    link(href="/feeds/all" rel="alternate" title=site_title type="application/rss+xml")