h1,h2,h3,h4,h5,h6,a,p,button{
	font-family: "Microsoft YaHei",Arial ! important;
}

html, body, #content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

button:focus {
    outline: 0;
}

.full{
    width: 100%;
    height: 100%;
}

.home-menu{
	display: none;
	position: fixed;
	width: 160px;
	height: 270px;
	bottom: 0px;
	right: 0px;
}

.home-menu a,p{
	display: inline-block;
	color: black;
	text-decoration: none;
	text-align: center;
}

#home-menu-name{
	display: block;
	margin-top: 10px;
	height: 35px;
	font-size: 24px;
}

.home-menu-icons{
	margin-top: 15px;
}

.home-menu-icon{
	display: inline-block;
	margin-left: 12px;
	width: 25px;
}

.home-menu-hr1{
	width: 180px;
	border: 1px solid;
	color: black;
	margin-top: 10px;
	margin-left: 10px;
}

#home-menu-home{
	display: block;
	width: 100%;
	margin-top: 5px;
	font-size: 20px;
}

.home-menu-tag-ath{
	display: block;
	margin-top: 5px;
	margin-left: 30px;
	font-size: 16px;
}

#home-menu-tags{
    padding-right: 2px;
}

#home-menu-authors{
    padding-left: 2px;
}

.home-menu-hr2{
	width: 120px;
	border: 1px solid;
	color: black;
	margin-top: 10px;
	margin-left: 20px;
}

.home-menu-links-p{
	display: block;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 20px;
	text-align: center;
}

.home-menu-links{
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}

#home-menu-proj{
	margin-left: 20px;
    padding-right: 2px;
}

#home-menu-friend{
	background: none;
	cursor: pointer;
	font-size: 16px;
	border: none;
	padding: 0px;
	color: #000000;
	text-align: right;
	padding-left: 2px;
}

.home-menu-hr3{
	width: 140px;
	border: 1px solid;
	color: black;
	margin-top: 10px;
	margin-left: 10px;
}

.home-menu-end{
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	font-size: 12px;
}

#home-left{
	position: fixed;
    left: -25%;
	top: 0px;
	width: 50%;
	height: 100%;
    background-size: cover;
    background: #000 50% 50%;
    overflow: hidden;
}

.home-left-image{
    height: 100%;
    width: 50%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
}

#home-main{
	position: relative;
}

#home-main-title{
	position: relative;
	margin-top: 20px;
	height: 50px;
}

#home-main-title a{
	display: inline-block;
	color: black;
	text-decoration: none;
	font-size: 20px;
	opacity: 1.0;
}

#title-list{
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;;
}

#title-list li{
	display: inline-block;
	width: 25%;
}

#title-list a{
	display: inline-block;
	width: 100%;
}

#title-on{}

#title-create a{
	text-align: left;
}

#title-skill a{
	padding-left: 35%;
}

#title-art a{
	padding-left: 65%;
}

#title-life a{
	text-align: right;
}

#home-main-title-bar{
	margin-top: 0px;
	width: 100%;
	height: 3px;
}

#title-bar{
	display: inline-block;
	height: 3px;
	width: 75px;
	left: 100px;
}

.home-main-content{
	top: 10px;
	width: 100%;
	height: 85%;
	padding: 0px;
}

.home-main-content ul{
	padding: 0px;
}

.home-main-content a{
	color: #888888;
	font-size: 14px;
	font-weight: bolder;
	text-decoration: none;
	line-height: 20px;
	margin-top: 0px;
}

.home-main-content a:hover{
	color: #000000;
	text-decoration: none;
}

.home-main-content h3{
	font-size: 18px;
	color: #000000;
	margin-top: 50px;
}

.home-main-content p{
	margin-top: 0px;
	text-align: left;
	line-height: 20px;
	font-size: 14px;
	color: gray;
}

.home-main-content-ghr{
	border: 0px;
	margin: -10px;
}

#home-menu-phone a,p{
	display: inline-block;
	color: black;
	text-decoration: none;
	text-align: center;
}

#home-menu-phone{
	display: none;
	position: relative;
	margin-top: 0px;
	width: 100%;
	height: 120px;
}

#home-menu-phone .top{
	display: inline-block;
	position: relative;
	width: 70%;
	top: 20px;
	left: 15%;
	margin-bottom: 20px;
}

#home-menu-phone .bottom{
	display: inline-block;
	width: 100%;
}


.home-menu-icon-phone{
	width: 20%;
}

#home-menu-index-phone{
	font-size: 20px;
	width: 80%;
	margin-left: 10%;
}

#home-menu-index-phone a{
	width: 33%;
	text-align: center;
}

#home-menu-hr1-phone{
	width: 80%;
	border: 1px solid;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}

#home-menu-hr2-phone{
	width: 60%;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid;
	color: black;
}

footer{
    display: none;
	position: relative;
	margin-top: 20px;
	padding-top: 10px;
	margin-bottom: 5px;
	width: 100%;
	top: 20px;
    font-size: 18px;
    text-align: center;
    background-color: rgb(137,255,154);
}

#home-links-phone{
	display: block;
	width: 60%;
	margin: auto;
}

#home-links-phone .thank{
	width: 32%;
	font-size: 14px;
}

footer a, p {
    display: inline-block;
    color: black;
    text-decoration: none;
    text-align: center;
}

#home-menu-hr3-phone{
	width: 60%;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid;
	color: black;
}

#home-menu-end-phone{
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	font-size: 14px;
}

#home-links{
	display: none;
	position: fixed;
	right: 0px;
	top: -400px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 160px;
	background-color: rgb(137,255,154);
	opacity: 0.6;
}

#home-links ul{
	text-align: center;
	margin: 0px;
	padding: 5px;
}

#home-links a{
	color: #000000;
	text-decoration: none;
}

#home-links button{
	background: none;
	cursor: pointer;
	font-size: 18px;
	border: none;
	padding: 0px;
	color: #000000;
	text-align: right;
}

article{
    width: 100%;
}

article .description a{
    padding: 2px;
}

@keyframes rotate-full {
    from {
        -webkit-transform: rotate(0deg);

    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.content-wait{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.content-wait img{
    width: 25%;
    border-radius: 50%;
    border-left: dashed;
    border-bottom: dashed;
    margin-bottom: 40px;
    animation: rotate-full 3s linear 0s infinite normal;
}

.content-wait p{
    font-size: 18px;
    color: darkslategrey;
}

@keyframes rotate-half-roll {
    0% {
        -webkit-transform: rotate(0deg);

    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

.content-error{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.content-error img{
    width: 25%;
    border-radius: 50%;
    border-left: dashed;
    border-bottom: dashed;
    margin-bottom: 40px;
    animation: rotate-half-roll 4s ease-out 0s infinite normal;
}

.content-error p{
    font-size: 16px;
    color: darkslategrey;
}

.my404{
    display: block;
    width : 80%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 14px;
    text-align: center;
}

.my404-content{
    margin-top: 90px;
}

.my404 a{
    color: #888888;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 40px;
    margin-top: 0px;
    text-align: center;
}

.my404-img{
    margin-top: 20px;
}

.my404-img img{
    position: relative;
    top: 30px;
    width: 60px;
}

@keyframes move-up-down-1 {
    0% {
        top: 30px;
    }
    50% {
        top: 60px;
    }
    100% {
        top: 30px;
    }
}
.my404-img1{
    left: -5%;
    animation: move-up-down-1 3s ease-out 0s infinite normal;
}

@keyframes move-up-down-2 {
    0% {
        top: 10px;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 10px;
    }
}
.my404-img2{
    left: 0;
    animation: move-up-down-2 3s ease-out 0s infinite normal;
}

@keyframes move-up-down-3 {
    0% {
        top: 20px;
    }
    50% {
        top: 60px;
    }
    100% {
        top: 20px;
    }
}
.my404-img3{
    left: 5%;
    animation: move-up-down-3 3s ease-out 0s infinite normal;
}

@keyframes move-up-down-4 {
    0% {
        top: 30px;
    }
    50% {
        top: 60px;
    }
    100% {
        top: 30px;
    }
}
.my404-img4{
    left: 10%;
    animation: move-up-down-4 3s ease-out 0s infinite normal;
}

#return-top{
	display: block;
	position: fixed;
	right: 180px;
	bottom: 10px;
}

#return-top button{
	cursor: pointer;
	border: none;
	padding: 0px;
	color: #000000;
	width: 48px;
	height: 48px;
	background: url(../image/return.png) no-repeat left 0px;
}

.pagination{
	text-align: center;
	margin-top: 20px;
}

.pagination ul{
	list-style: none;
}

.pagination ul li{
	display: inline;
	padding: 5px;
}

.pagination ul li a{
	font-size: 16px;
}

.pagination .active ul li a{
	font-size: 20px;
}

.pagination .disable a:hover{
	color: #888888;
}

/*For PC*/
@media (min-width: 800px) {
    #home-left{
        display: block;
    }
    .home-menu{
        display: block;
    }
    #home-menu-phone{
        display: none;
    }
    footer{
        display: none;
    }
    #return-top{
        right: 170px;
    }
    #home-main{
        width: 50%;
        margin-left: 30%;
        top: 60px;
    }
}

/*For Phone*/
@media (max-width: 800px) {
    #home-left{
        display: none;
    }
    .home-menu{
        display: none;
    }
    #home-menu-phone{
        display: block;
    }
    footer{
        display: block;
    }
    #return-top{
        right: 10px;
    }
    #home-main{
        width: 80%;
        margin-left: 10%;
        top: 20px;
    }
}