//
   Created by dtysky on 16/3/2.

doctype html
html(lang="zh-CN")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        meta(property="fs:webmaster", content="fB13uuNNHbmPPXxy")
        block metadata
        link(rel="shortcut icon", href="/theme/image/logo.ico")

    body
        div#pre
            block pre
        div#content
            block content
    div#prifiles
        ul
            li
                a(href="/article/MyResume") dtysky
            li
                a(href="https://github.com/dtysky") Github
            li
                a(href="https://cn.linkedin.com/pub/tianyu-dai/a8/818/44a") Linked-In
            li
                a(href="http://psnprofiles.com/dtysky") PlayStation
            li
                a(href="http://proj.dtysky.moe") Projects
    div#inner-links
        ul
            li
                a(href="/") Home
            li
                a(href="/tags") Tags
            li
                a(href="/authors") Authors
            li
                a(href="/category/Create") Create
            li
                a(href="/category/Skill") Skill
            li
                a(href="/category/Art") Art
            li
                a(href="/category/Life") Life
    block outer_links